body {
    background-color: #1f2937;
}

.header {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    margin-left: 110px;
}

.hero {
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 100px;
    margin-left: 110px;
}

.hero-sec {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 110px;
}

ul {
    color: #e5e7eb;
    font-size: 24px;
    list-style-type: none;
    display: flex;
    margin-left: 900px;
    margin-top: 9px;
    gap: 16px;
    position: absolute;
    top: 0;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 110px;
    border-radius: 10px;
    cursor: pointer;
}

.box {
    width: 350px;
    height: 150px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    position: relative;
    bottom: 160px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1055px;
}

.container {
    background-color: white;
}

.info-header-text {
  background-color: white;  
  font-size: 36px;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 32px;
  text-align: center;
}

.text {
  width: 200px;
  margin: 32px;
  align-content: center;
  display: inline-flex;
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  align-items: flex-end;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info {
  max-width: 200px;
}

#quote-text {
    background-color: lightgrey;
    font-size: 16px;
    color: #1f2937;
    font-weight: 300px;
}

#quote-text h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 32px;
    margin: 0;
}

#quote-text p {
    text-align: right;
    font-weight: 900;
}

#footer {
    background-color: white;
    border: 0;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 32px;
}

    /* padding: 10px;
    margin: 10px; */