body {
    background-color: #1f2937;
}

.header {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    margin-left: 110px;
}

.hero {
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 100px;
    margin-left: 110px;
}

.hero-sec {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 110px;
}

ul {
    color: #e5e7eb;
    font-size: 24px;
    list-style-type: none;
    display: flex;
    margin-left: 900px;
    margin-top: 9px;
    gap: 16px;
    position: absolute;
    top: 0;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 110px;
    border-radius: 10px;
    cursor: pointer;
}

.box {
    width: 350px;
    height: 150px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    position: relative;
    bottom: 160px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1055px;
}

#info-container {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.info-header {
    width: 140px;
    height: 140px;
    border: solid #3882f6;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

/* #quote-text {
    background-color: #e5e7eb;
    font-size: 16px;
    color: #1f2937;
    font-weight: 300;
} */